body {
  background: blanchedalmond;
}

.container {
  min-width: 100vh;
  min-height: 100vh;
  border: 1px solid black;
}

/* MOBILE */

.a {
  border: 1px solid black;
  min-width: 100%;
  height: 20vh;
  background-color: yellowgreen;
}

.b {
  border: 1px solid black;
  min-width: 100vh;
  height: 60vh;
  background-color: red;
}

.c {
  border: 1px solid black;
  min-width: 100vh;
  height: 20vh;
  background-color: blue;
}

/* DESKTOP */

@media (min-width: 768px) {
  .container {
    min-height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  }
  
.a {
  background-color: yellowgreen;
  min-height: 33vh;
}

.b {
  background-color: red;
  display: inline-block;
  flex: 3;
  min-height: 66vh;
  min-width: 80vh;
}

.c {
 background-color: blue;
 display: inline-block;
 flex: 1;
 min-height: 66vh;
 min-width: 20vh;
}
}