body {
  background: papayawhip;
}

/* MOBILE */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-between;
}

.container * {
  background-color: maroon;
  margin-bottom: 10px;
  margin-top: 10px;
}

.a, .b, .f {
  width: 100%;
}

.c, .d, .e {
  flex: 1 1 auto;
}

.a, .c, .d, .e, .f {
  height: 100px;
}

.b {
  height: 300px;
}
/* DESKTOP */

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-areas:
    "a a a a"
    "b b b f"
    "c d e f";
    grid-auto-rows: minmax(150px, auto);
    justify-content: unset;
  }

  .container > * {
    width: 100%;
    flex: unset;
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
  }

  .f {
    grid-area: f;
    height: 26em;
  }

  .c {
    grid-area: c;
}

  .d {
    grid-area: d;
  }

  .e {
    grid-area: e;
  }
}